AcousticDataset.xlsx
GammaDataset.xlsx
MechDataset.xlsx
StrengthDataset.xlsx
AcoustGammaDataset.xlsx
AcoustGammaStrengthDataset.xlsx
FullKern.xlsx
Workspace.py
AcousticTaskDec.xlsx
AcousticTaskOne.xlsx
AcousticTaskTen.xlsx
Dataset.xlsx
FullKernDec.xlsx
FullKernOne.xlsx
FullKernTen.xlsx
GammaTaskDec.xlsx
GammaTaskOne.xlsx
GammaTaskTen.xlsx
AcousticLearn.xlsx
GammaLearn.xlsx
AcousticLearnMech.xlsx
GammaLearnMech.xlsx
catboost_info/
Graph
GammaLearnNew.xlsx
FullData.csv
GIS.csv
GISKern.csv
true_data.xlsx